<div class="col-md-12 card shadow mb-4 p-0">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">VHosts ({{ vhosts[servers.webserver]|length }})</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered" width="100%" cellspacing="0" role="grid" style="width: 100%">
                    <thead>
                        <tr role="row">
                            <th style="text-align: center">#</th>
                            <th>File</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set vhost_count = 1 %}
                        {% for vhost in vhosts[servers.webserver] %}
                        <tr role="row">
                            <td style="text-align: center">{{ vhost_count }}</td>
                            <td><a href="/conf/{{ servers.webserver }}/{{ vhost.name }}" target="_blank">{{ vhost.name }}</a></td>
                        </tr>
                        {% set vhost_count = vhost_count + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
